<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<form method="post" action="http://127.0.0.1:8000/booking">
    <p>Enter your data to booking book!</p>
    <input type="text" name="book_name" placeholder="Enter book name" required><br>
    <input type="text" name="person_name" placeholder="Enter your name" required><br>
    <input type="date" name="booking_data" min="2023-10-04" max="2024-12-31" placeholder="Enter booking data" required><br>
    <input type="submit" value="Booking">
</form>
</body>
</html>